body{
    background-color: black;
    font-family: 'Rubik', sans-serif, bold;
    
}
.wrapper{
    width: 100%;
    display: grid;
    margin: 0 auto;
}
.particles-js{
    height: 100%;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
  }
/* burger header */
header{
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 100;
    background: rgba(0,0,0,0.1);
    transition: all 0.3s ease 0s;
}
header.active{
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 100;
    background: rgba(0,0,0,1);
}
header.active2::before{
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 90px;
    z-index: 100;
    background: rgba(255, 255, 255);
}
header.active2{
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 100;
    background: rgba(255, 255, 255);
    transition: all 0.3s ease 0s;
}
.header__nav a{
    text-align: center;
    display: block;
    width: 105px;
    color: rgb(238, 238, 238);
    transition: all 0.3s ease 0s;
  }
  .header__nav a:hover{
    text-shadow: 0 0 10px white;
    color: white;
    transition: all 0.3s ease 0s;
  }
  .header__nav a.active2{
    padding-bottom: 20px;
    color: black;
    transition: all 0.3s ease 0s;
  }
  .header__nav a.active2:hover{
    font-weight: 500;
    box-shadow: 0px 3px 0px rgb(0, 0, 0);
    color: black;
    transition: all 0.3s ease 0s;
  }
  .header__nav a.active{
    color: white;
}
.logo{
    padding-bottom: 10px;
    z-index: 100;
    padding-top: 20px;
    padding-left: 30%;
    transition: all 0.3s ease 0s;
}
.logo.active2{
    display: none;
}
.logoblack{
    display: none; 
}
.logoblack.active2{
    z-index: 100;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 30%;
    display: block;
    transition: all 0.3s ease 0s;
}

.header__burger{
    display: none;
    
}
.header__body{
    display: grid;
    grid-template-columns: 0.25fr 1fr;
}
.header__menu{
    position: relative;
    z-index: 2;
}
  .header__nav{
    padding-top: 25px;
    padding-left: 8%;
    padding-right: 8%;
    width: 100%;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
    grid-template-rows: 1fr;
  }
  .header__nav li{
    z-index: 1;
    font-size: 20px;
    padding-top: 18px;
  }

/* burger header */

/*content*/
  .content{
    pointer-events: none; /*noneIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII*/
    margin-top: 150px;
    margin-left: 0;
    margin-right: 35px;
    color: white;
    z-index: 0;
}
/*content__top*/
.content__top{
    display: grid;
    gap: 55px;
    grid-template-columns: repeat(auto-fit, minmax(550px,1fr));
    grid-auto-rows: 1fr;
}/*content__left*/
.top__left{
    margin-left:55px;
    width: 500px;
    pointer-events: none; /*none*/
    z-index: 1;
    background: transparent;
}
.title{
    color: white;
    text-align: left;
    min-width: 500px;
    max-width: 500px;
    font-size: 68px;
}

.title:first-child p{
    color: #B6B6B4;
}
.desc{
    margin: 30px 0;
    line-height: 15px;
    max-width: 450px;
    font-size: 16px;
}
.buttons a {
    pointer-events:all;
    text-align: center;
    display: inline-block;
    background-color: #1C1C1E;
    color: rgb(255, 255, 255);
    margin: 15px;
    width: 130px;
    padding: 15px;
    font-size: 24px;
    border-radius: 10px;
    z-index: 1;
    transition: all 0.1s ease 0s;
}
 
.buttons a:hover{
    font-weight: 450;
    color: #1C1C1E;
    background: rgb(255, 255, 255);
    text-shadow: 0 0 1px #1C1C1E;
    box-shadow: -3px 3px 7px  #ffffff73, 3px 3px 5px rgb(255, 255, 255);
    transition: all 0.3s ease 0s;
}
.contacts{
    margin: 30px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 400px;
}
.contacts a{
    transition: all 0.3s ease 0s;
}

.contacts a:nth-child(1){
    background: url('../img/TWwhite.png') center no-repeat;
    background-size: 60%;

}
.contacts a:nth-child(2){
    background: url('../img/DCwhite.png') center no-repeat;
    background-size: 60%;
}
.contacts a:nth-child(3){
    background: url('../img/YTwhite.png') center no-repeat;
    background-size: 60%;
}
.contacts a:nth-child(4){
    background: url('../img/TGwhite.png') center no-repeat;
    background-size: 60%;
}
.contacts a:nth-child(5){
    background: url('../img/email-whie.png') center no-repeat;
    background-size: 60%;
}

.contacts a:nth-child(1):hover{
    background: url('../img/TWblack.png') center no-repeat;
    background-size: 60%;
    background-color: white;
    box-shadow: -3px 3px 7px  #ffffff73, 3px 3px 5px rgb(255, 255, 255);
    transition: all 0.3s ease 0s;
}
.contacts a:nth-child(2):hover{ 
    background: url('../img/DCblack.png') center no-repeat;
    background-size: 60%;
    background-color: white;
    box-shadow: -3px 3px 7px  #ffffff73, 3px 3px 5px rgb(255, 255, 255);
    transition: all 0.3s ease 0s;
}
.contacts a:nth-child(3):hover{   
    background: url('../img/YTblack.png') center no-repeat;
    background-size: 60%;
    background-color: white;
    box-shadow: -3px 3px 7px  #ffffff73, 3px 3px 5px rgb(255, 255, 255);
    transition: all 0.3s ease 0s;
}
.contacts a:nth-child(4):hover{
    background: url('../img/TGblack.png') center no-repeat;
    background-size: 60%;
    background-color: white;
    box-shadow: -3px 3px 7px  #ffffff73, 3px 3px 5px rgb(255, 255, 255);
    transition: all 0.3s ease 0s;
}
.contacts a:nth-child(5):hover{
    background: url('../img/email.png') center no-repeat;
    background-size: 60%;
    background-color: white;
    box-shadow: -3px 3px 7px  #ffffff73, 3px 3px 5px rgb(255, 255, 255);
    transition: all 0.3s ease 0s;
}
.contacts a{
    pointer-events:all;
    border-radius: 25%;
    width: 50px;
    height: 50px;
    size: 10px;
}
.contacts  a{
    width: 50px;
    height: 50px; 
}
/*content__top__right video*/
.top__container{
    box-shadow: -3px 3px 7px  #B6B6B4, 3px 3px 5px #B6B6B4;
    background-color: #B6B6B4;
    max-width: 850px;
    min-width: 500px;
    height: 80%;
    transform: rotate(3deg);
    border-radius: 25px;
    animation: spin 15s linear infinite;
}
.video{
    padding-top: 50px;
    padding-left: 10%;
    pointer-events: all;
    transform: rotate(-3deg);
    max-width: 90%;
    min-width: 300px;
    height: 90%;
    animation: nospin 15s linear infinite;
}



@keyframes nospin{
    10%{
        transform: rotate(-4deg);
    }
    20%{
        transform: rotate(-5deg);
    }
    30%{
        transform: rotate(-6deg);
    }
    40%{
        transform: rotate(-7deg);
    }
    50%{
        transform: rotate(-8deg);
    }
    60%{
        transform: rotate(-7deg);
    }
    70%{
        transform: rotate(-6deg);
    }
    80%{
        transform: rotate(-5deg);
    }
    90%{
        transform: rotate(-4deg);
    }
    100%{
        transform: rotate(-3deg);
    }

}

@keyframes spin{
    10%{
        transform: rotate(4deg);
    }
    20%{
        transform: rotate(5deg);
    }
    30%{
        transform: rotate(6deg);
    }
    40%{
        transform: rotate(7deg);
    }
    50%{
        transform: rotate(8deg);
    }
    60%{
        transform: rotate(7deg);
    }
    70%{
        transform: rotate(6deg);
    }
    80%{
        transform: rotate(5deg);
    }
    90%{
        transform: rotate(4deg);
    }
    100%{
        transform: rotate(3deg);
    }
}
/*content__middle*/
.middle{
    padding-top: 90px;
    text-align: center;
    z-index: 3;
}
.title1{
    color: #B6B6B4;
    font-size: 24px;
    padding: 20px 0;
}
.title2{
    text-align: center;
    color: #B6B6B4;
    font-size: 30px;
    padding-left: 5%;
    padding-bottom: 300px;
}
.middle span{
    color: rgb(255, 255, 255);
}
.middle__content{
    display: grid;
    gap: 55px;
    grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
    grid-auto-rows: 1fr;
    
}
/*content__left__LOGO*/
.middle__left{
    width: 80%;
    margin-top: 10px;
    height: 150%;
    justify-self: center;

}

.container12{
    margin-left:55px;
    top: 33%;
    position: sticky;
    height: 100px;
    width: 300px;
    background: transparent;
    border-radius: 10px;

}
.inner2{
    position: absolute;
    background: #a0a09e;
    border-radius: 10px;
    width: 380px;
    height: 380px;
    clip-path: polygon(50% 24%, 72% 37%, 50% 49%, 28% 37%);
    animation: move2 10s linear infinite;
}
.inner{
    position: absolute;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    width: 380px;
    height: 380px;
    clip-path: polygon(29% 62%, 50% 74%, 50% 49%, 28% 37%);
    animation: move3 10s linear infinite;
}
.inner3{
    position: absolute;
    background: #5a5a5a;
    border-radius: 10px;
    width: 380px;
    height: 380px;
    clip-path: polygon(71% 62%,50% 74%, 50% 49%,72% 37%);
    animation: move4 10s linear infinite;
}

.outer1{
    position: absolute;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    width: 380px;
    height: 380px;
    clip-path: polygon(21% 38%, 21% 66%, 45% 80%, 45% 92%, 11% 72%, 11% 33%);
    animation: move6 30s linear infinite;  
}

.outer2{
    position: absolute;
    background: #a0a09e;
    border-radius: 10px;
    width: 380px;
    height: 380px;
    clip-path: polygon(75% 30%, 50% 15%, 25% 30%, 15% 24%, 49% 4%, 85% 24%);
    animation: move5 30s linear infinite;
}
.outer3{
    position: absolute;
    background: #5a5a5a;
    border-radius: 10px;
    width: 380px;
    height: 380px;
    clip-path: polygon(53% 80%, 79% 66%, 79% 38%, 89% 32%, 89% 71%, 54% 92%);
    animation: move7 30s linear infinite;
}

@keyframes move2{
    10%{
        margin-top: -2px;
    }
    20%{
        margin-top: -4px;
    }
    30%{
        margin-top: -6px;
    }
    40%{
        margin-top: -8px;
    }
    50%{
        margin-top: -10px;
    }
    60%{
        margin-top: -8px;
    }
    70%{
        margin-top: -6px;
    }
    80%{
        margin-top: -4px;
    }
    90%{
        margin-top: -2px;
    }
    100%{
        margin-top: 0;
    }
}

@keyframes move3{
    10%{
        margin-top: 2px;
        margin-left: -2px;
    }
    20%{
        margin-top: 4px;
        margin-left: -4px;
    }
    30%{
        margin-top: 6px;
        margin-left: -6px;
    }
    40%{
        margin-top: 8px;
        margin-left: -8px;
    }
    50%{
        margin-top: 10px;
        margin-left: -10px;
    }
    60%{
        margin-top: 8px;
        margin-left: -8px;
    }
    70%{
        margin-top: 6px;
        margin-left: -6px;
    }
    80%{
        margin-top: 4px;
        margin-left: -4px;
    }
    90%{
        margin-top: 2px;
        margin-left: -2px;
    }
    100%{
        margin-top: 0;
        margin-left: 0;
    }
}
    
@keyframes move4{
    10%{
        margin-top: 2px;
        margin-left: 2px;
    }
    20%{
        margin-top: 4px;
        margin-left: 4px;
    }
     30%{
        margin-top: 6px;
        margin-left: 6px;
    }
    40%{
        margin-top: 8px;
        margin-left: 8px;
    }
    50%{
        margin-top: 10px;
        margin-left: 10px;
    }
    60%{
        margin-top: 8px;
        margin-left: 8px;
    }
    70%{
        margin-top: 6px;
        margin-left: 6px;
    }
    80%{
        margin-top: 4px;
        margin-left: 4px;
    }
    90%{
        margin-top: 2px;
        margin-left: 2px;
    }
    100%{
        margin-top: 0;
        margin-left: 0;
    }
}

@keyframes move5{
    0%{
        margin-top: 0;
    }
    10%{
        transform: rotate(36deg);
    }
    16.6%{
        margin-top: -15px;
        margin-left: 15px;
    }
    20%{
        transform: rotate(74deg);
    }
    30%{
         transform: rotate(108deg);
    }
    33.2%{
        margin-top: 0px;
        margin-left: 0px;
    }
    40%{
        transform: rotate(144deg);
    }
    50%{
        margin-top: 15px;
        transform: rotate(180deg);
    }
    60%{
        transform: rotate(216deg);
    }
    66.4%{
        margin-top: 0px;
        margin-left: 0px;
    }
    70%{
        transform: rotate(252deg);
    }
    80%{
        transform: rotate(288deg);
    }
    83.2%{
        margin-top: -15px;
        margin-left: -15px;
    }
    90%{
        transform: rotate(324deg);
    }
    100%{  
        transform: rotate(360deg);       
    }
}

@keyframes move6{
    0%{
        margin-top: 0;
    }
    10%{
        transform: rotate(36deg);
    }
    16.6%{
        margin-top: -15px;
        margin-left: -15px;
    }
    20%{
        transform: rotate(74deg);
    }
    30%{
        transform: rotate(108deg);
    }
    33.2%{
        margin-top: 0;
    }
    40%{
        transform: rotate(144deg);
    }
    50%{
        margin-top: -15px;
        margin-left: 15px;
        transform: rotate(180deg);
    }
    60%{   
        transform: rotate(216deg);
    }
    66.4%{
        margin-top: 0px;
        margin-left: 0px;
    }
    70%{
        transform: rotate(252deg);
    }
    80%{
        transform: rotate(288deg);
    }
    83.2%{
        margin-top: 15px;
    }
    90%{
        transform: rotate(324deg);
    }
    100%{
            
        transform: rotate(360deg);
            
    }
}

@keyframes move7{
    0%{
        margin-top: 0px;
        margin-left: 0px;
    }
    10%{   
        transform: rotate(36deg);
    }
    16.6%{
        margin-top: 15px;
    }
    20%{    
        transform: rotate(74deg);
    }
    30%{
        transform: rotate(108deg);
    }
    33.2%{
        margin-top: 0px;
        margin-left: 0px;
    }
    40%{  
        transform: rotate(144deg);
    }
    50%{
        margin-top: -15px;
        margin-left: -15px;
        transform: rotate(180deg);  
    }
    60%{   
        transform: rotate(216deg);
    }
    66.4%{
        margin-top: 0px;
    }
    70%{
        transform: rotate(252deg);
    }
    80%{    
        transform: rotate(288deg);
    }
    83.2%{
        margin-top: -15px;
        margin-left: 15px;
    }
    90%{   
        transform: rotate(324deg);
    }
    100%{    
        transform: rotate(360deg);    
    }
}
/*middle__right*/
.middle__right{

}
.features{
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-auto-rows: 1fr;
    column-gap: 20px;
    row-gap: 10px;
}
.feature{
    pointer-events: all;
    color: #fff;
    width: 300px;
    height: 350px;
    background-color: transparent;
    border-radius: 10px;
    transition: all 0.7s ease 0s;

    
}
.feature__title{
    display: grid;
    grid-template-columns: 0.1fr 1fr;
    
}
.feature__icon{
    margin-top: 50px;
    margin-left: 40px;
    margin-bottom: 5px ;
    width: 50px;
    height: 50px;
    background: url('../img/mid_EQ_yellow.png') center no-repeat;
    background-size: 100%;
    
}
.title__text{
    margin-top: 65px;
    margin-left: -30px;
    font-size: 18px;
    font-weight: 400;
}
.feature__desc{
    text-align: left;
    margin: 35px;
    font-size: 18px;
}
#icon2{
    background: url('../img/mid_ETF_green.png') center no-repeat;
    background-size: 100%;
}
#icon3{
    background: url('../img/mid_CFD_red.png') center no-repeat;
    background-size: 100%;
}
#icon4{
    background: url('../img/mid_BO_blue.png') center no-repeat;
    background-size: 100%;
}
#icon5{
    background: url('../img/mid_FU_purple.png') center no-repeat;
    background-size: 100%;
}
#icon6{
    background: url('../img/mid_Cla_grey.png') center no-repeat;
    background-size: 100%;
}

.feature:nth-child(1):hover{
    background-color: #ffc231;
}
.feature:nth-child(2):hover{
    background-color: #22b14c;
}
.feature:nth-child(3):hover{
    background-color: #c92127;
}
.feature:nth-child(4):hover{
    background-color: #198f9c;
}
.feature:nth-child(5):hover{
    background-color: #884299;
}
.feature:nth-child(6):hover{
    background-color: #808282;
}
.middle__contenttwo{
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 200px;
    justify-items:end;
    height: 700px;
}
.title3{
    padding-top: 70px;
    padding-left: 80px;
    font-weight: 700;
    text-align: start;
    font-size: 32px;
}
.products{
    color: #fff;
    width: 52%;
    height: 700px;
    background-color: #8082828c;
    border-radius: 50px;
    
}
.products__desc{
    display: grid;
    grid-template-columns: 1fr 1fr;

}
.products__desc ul{
    padding-top: 10px;
    padding-left: 90px;
    font-size: 24px;
}
.products__desc ul li{
    padding-top: 30px;
    line-height: 35px;
}
.product__photo{
    overflow: hidden;
    width: 350px;
    height: 500px;
    background: url('../img/mid_2_products.png') center no-repeat;
}
.products a{
    width: 200px;
    margin-top: -100px;
    margin-left: 20%;
    padding: 20px 35px;
    border-radius: 10px;
    pointer-events:all;
    text-align: center;
    display: inline-block;
    background-color: #1C1C1E;
    color: rgb(255, 255, 255);
    font-size: 24px;
    z-index: 1;
    transition: all 0.1s ease 0s;
}
.products a:hover{
    font-weight: 500;
    color: #ffffff;
    background: rgb(0, 0, 0);
    text-shadow: 0 0 1px #1C1C1E;
    box-shadow: -3px 3px 7px  #ffffff73, 3px 3px 5px rgb(0, 0, 0);
    
}
.bottom{
    justify-items: center;
    padding-top: 300px;
}
.bottom__contentone{
    width: 100%;
    justify-items: center;
    display: block;
}
.stats{
    pointer-events: all;
    margin-left: 5%;
    background-color: #2b2b2b13;
    border-radius: 50px;
    width:90%;
    height: 100%;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    transition: all 0.7s ease 0s;
}
.stats:hover{
    color: #000000;
    background-color: #fff;
    transition: all 0.7s ease 0s;

}
.stat__box{
    padding-top: 70px;
    text-align: center;
    width: 350px;
    height: 200px;
}
.stat{
    font-weight: 500;
    padding: 0 -20px;
    font-size: 70px;
    display: inline-block;
}
.stat__desc{
    line-height: 25px;
    padding: 10px;
    display: inline-block;
    font-size: 20px;
}
.bottom__contenttwo{
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    background-color: #0000002a;
    height: 100%;
}
.blog{
    padding: 80px;
    width: 80%;
    height: 100%;
    display: grid;
    column-gap: 100px;
    row-gap: 50px;
    grid-template-columns: repeat(auto-fit, minmax(500px,1fr));
    grid-auto-rows: 1fr;

}
.blog__left{
    padding-top: 100px;
}
.blog__title{
    font-size: 40px;
    font-weight: 500;
}
.blog__text{
    padding-top: 20px;
    font-size: 17px;
    line-height: 30px;
}
.blog__join{
    margin-top: 30px;
    background-color: #ffffff;
    width: 480px;
    height: 72px;
    border-radius: 50px;
}
.email{
    pointer-events: all;
    color: #fff;
    background: transparent;
    margin-top: 10px;
    margin-left: 30px;
    width: 280px;
    height: 50px;
    font-size: 17px;
}

::placeholder { 
    color: rgb(0, 0, 0);
    opacity: 1;
}
.email__submit{
    pointer-events: all;
    font-weight: 400;
    background-color: #000000;
    color: #fff;
    font-size: 17px;
    border-radius: 50px;
    width: 150px;
    height: 55px;
    transition: all 0.3s ease 0s;
}
.email__submit:hover{
    font-weight: 500;

    box-shadow: -3px 3px 7px  #ffffff73, 3px 3px 5px #000000;
    transition: all 0.3s ease 0s;
    
}
.blog__right{
    display: grid;
    grid-template-columns:  1fr 1fr;
    column-gap: 25px;
}
.blog__one{
    pointer-events: all;
    border-radius: 40px;
    width: 350px;
    height: 400px;
    background-color: #808282;
    transition: all 0.3s ease 0s;
}
.blog__one:hover{
    background-color: #acacac;
}
.blog__two{
    pointer-events: all;
    border-radius: 40px;
    width: 350px;
    height: 420px;
    background-color: #5a5a5a;
    transition: all 0.3s ease 0s;
}
.blog__two:hover{
    background-color: #acacac;
    transition: all 0.3s ease 0s;
}
.blog__photo{
    border-radius: 39px 39px 0 0;
    width: 350px;
    height: 250px;
    
}
.blog__one .blog__photo{
    background-image: url('../img/blogphoto1.png');
}

.blog__two .blog__photo{
    background-image: url('../img/blogphoto2.png');
}
.textbot__title{
    margin-top: 35px;
    margin-left: 30px;
    color: #fff;
    font-size: 22px;
}
.textbox__date{
    margin-left: 200px;
    margin-top: 45px;
    color: #fff;
    font-size: 18px;
}
footer{
    z-index: 50;
}
.footer{
    padding: 2%;
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    column-gap: 10px;
    width: 100%;
    height: 150px;
    background: #1C1C1E;
}
.footer__logo{
    padding-left: 30%;
    width: 100%;
    height: 100%;


    
}
.footer__logoimg{
    width: 180px;
    height: 100px;
    background: url('../img/1.png') center no-repeat; 
}
.footer__links{
    pointer-events: all;
   margin-left: 25%;
    
}
.footer__mail{
    margin: auto 0;
    font-size: 18px;
}
.footer__links .contacts a{
    padding: 5px;
}
.footer__mail a{
    pointer-events: all;
    color: #fff;
}
/*contact.html*/
.contact__info{
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact__info .contacts{
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    row-gap: 15px;
}
.contact__info a::after{
    position: absolute;
    color: white;
    font-size: 24px;
    content: "";
    padding-left:  65px;
    padding-top: 15px;
}
.contact__info a:nth-child(1)::after{
    content: "Follow StockTrader on Twitter";
}
.contact__info a:nth-child(2)::after{
    content: "Join StockTrader Discord Channel";
}
.contact__info a:nth-child(3)::after{
    content: "Subscribe StockTrader on YouTube";
}
.contact__info a:nth-child(4)::after{
    content: "Join StockTrader Telegram Channel";
}
.contact__info a:nth-child(5)::after{
    content: "Email Us: Stocktrader@gmail.com";
}

.contacts__footer{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

/* Pricing */
.pricing__title{
    line-height: 38px;
    text-align: center;
    font-size: 28px;
    color: #a0a09e;
}
.pricing__title2{
    margin-top: 25px;
    text-align: center;
    font-size: 24px;
    color: #a0a09e;
}
.pricingmiddle__content{
    padding:  100px 0;
    display: flex;
    width: 100%;
    justify-content: center;
}
.packages{
   
    width: 78%;
    display: flex;
    justify-content: space-around;
    

}
.package{ 
    border-radius: 50px;
    width: 32%;
    height: 650px;
    background: #8082828c;
}
.package__title{
    margin-top: 15px;
    padding-top: 40px;
    font-size: 40px;
    font-weight: 500;
    text-align: center;
}
.package__price{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 28px;
    font-weight: 400;
    text-align: center;
}
.packege__features{
    height: 380px;
}
.package__feature{
    font-size: 18px;
    line-height: 24px;
    padding: 5px 15% ;
}
.package__feature::before{
    content: url('../img/check24.png');
    padding-right: 15px;
   

}
.package__bottom{
    display: flex;
    justify-content: center;
    align-items: center;
}
.package__button{
    pointer-events: all;
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    width: 150px;
    height: 60px;
    background-color: #fff;
    border-radius: 18px;
    transition: all 0.3s ease 0s;
}
.package__button:hover{
    font-weight: 400;
    background: rgb(255, 255, 255);
    text-shadow: 0 0 1px #1C1C1E;
    box-shadow: -3px 3px 7px  #fff, 3px 3px 5px rgb(255, 255, 255);
    
}
.descp{
    margin-top: -30px;
    margin-left: 30px;
}
.bronze{
    color: #CD7F32;
}
.silver{
    color: #c0c0c0;
}
.gold{
    color: #ffd700;
}
.compare__package{
    background-color: #8082828c;
    border-radius: 50px;
    padding-bottom: 30px;
    margin: 5% 100px;
    text-align: center;
    align-items: center;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.compare__ft{
    font-size: 14px;
    line-height: 26px;
}
.compare__title{
    font-weight: 500;
    font-size: 22px;
    line-height: 90px;
}
.compare{
    line-height: 26px;
}

/* fax */
.fax__wrapper{
    padding-bottom: 150px;
    display: flex;
    justify-content: space-evenly;
}
.fax__title{
    padding: 80px 0;
    font-size: 30px;
    text-align: center;
}
.fax__item{
    pointer-events: all;
    cursor: pointer;
    max-width: 600px;
    background-color:#8082828c;
    margin: 10px 10px;
}
.faxitem__title{
    height: 60px;
    display: flex;
    justify-items: stretch;
    padding: 15px 15px;
    margin-bottom: 15px;
    font-size: 16px;
    letter-spacing: 1.3px;
}
.faxitem__titletext{
    width: 100%;
}
.arrowright{
    display: block;
    width: 18px;
    height: 18px;
    background: url('../img/arrow_right.png');
}
.faxitem__title.active .arrowright{
    display: block;
    width: 18px;
    height: 18px;
    background: url('../img/arrow_down.png');
}
.faxitem__text{
    font-size: 15px;
    line-height: 20px;
    font-weight: 300;
    display: none;
    padding:0 15px 15px  15px;
}
/* Media */


@media (max-width:767px){
    /* burger header */
    header::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 90px;
        z-index: 100;
        background: rgba(0,0,0,1);
    }
    body.lock{
        overflow: hidden;
    }
    .header__body{
        height: 100%;
    }
    .header__burger{
        margin-left: 55%;
        margin-top: 30px;
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 101;
    }
    .header__burger span{
        margin-top: 17px;
        position: absolute;
        background-color: #B6B6B4;
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
    }
    .header__burger::before,
    .header__burger::after{
        content: '';
        margin-top: 34px;
        background-color: #B6B6B4;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
        z-index: 100;
    }
    .header__burger::before{
        top: 0;
    }
    .header__burger::after{
        bottom: 0;
    }
    .header__burger.active::before{
        margin-top: 18.5px;
        transform: rotate(45deg);
        top: 9px;
        z-index: 4;
    }
    .header__burger.active::after{
        transform: rotate(-45deg);
        bottom: -9.9px;
    }
    .header__burger.active span{
        transform: scale(0);
    }
    .header__menu{
        color: white;
        position: fixed;
        top: -100%;
        left: 0;
        width: 90%;
        height: 100%;
        background-color: transparent;
        z-index: 3;
        transition: all 0.3s ease 0s;
    }
    .header__menu.active{
        top: 0;
        z-index: 1;
    }
    .particles-js.active{
        background-color: black;
        z-index: 1;
        transition: all 0.3s ease 0s;
    }
    .header__nav{
        z-index: 4;
        padding:70px 20%;
        display: block;
        margin: 10px 15px;
    }
    a.active{
        text-align: start;
        font-size: 70px;
        line-height: 100px;
    }
    .top__left{
        display: block;
        justify-self: center;
    }
    /*media__content*/
    .title{
        text-align: center;
       
    }
    .desc{
        text-align: center;
        line-height: 40px;
        font-size: 30px;
        
    }
    .buttons a{
        font-size: 44px;
        width: 200px;
        padding: 20px 35px;
    }
    .content__top{
        margin-left: -40px;
    }
    .contacts{
        max-width: 600px;
    }
    .contacts li{
        column-gap: 180px;
        width: 100px;
        height: 100px;
    }
    .contacts li a{
        width: 100px;
        height: 100px;
    }
    .video{
        max-width: 100%;
        padding-left: 0;
    }
    .top__container{
        max-width: 100%;
    }
    .title1{
        text-align: center;
        font-size: 44px;
    }
    .title2{
        text-align: center;
        font-size: 36px;
        line-height: 45px;
        max-width: 530px;
    }
    .features{
        display: block;
    }
    .feature{
        width: 100%;
        height: 400px;
    }
    .title__text{
        font-size: 40px;
    }
    .feature__desc{
        padding-left: 75px;
        font-size: 38px;
        width: 600px;
    }
    .feature__icon{
        width: 80px;
        height: 80px;
    }
    .fax__wrapper{
        display: block;
    }
    
}
@media (max-width:945px){
    .container12{
        margin-top: -250px;
        overflow: hidden;
        width: 130% ;
        top: 1;
        position: relative;
        height: 500px;
    }
    .middle__left{
        height: 400px;
        margin-top: 30px;
    }
    .middle__content{
        display: block;
    }
    .middle__contenttwo{
        padding-top: 80px;
      
    }
    .products{
        width: 100%;
    }
    .bottom{
        padding-top: 150px;
    }
    .contact__info{
        display: block;
    }
    .footer__logo{
        width: 30px;
    }
}
@media (max-width:1400px){
    .middle__left{
        height: 125%;
  }
}
@media (max-width:1135px){
    .packages{
        display: block;
  }
  .package{
    min-width: 400px;
    width: 100%;
  }
}
@media (max-width:1171px){
    .compare__package{
        height: 630px;
    }
    .compare__title{
        margin-top: -50px;
    }
    .compare__ft{
        width: 180px;
        height: 520px;
    }
    .compare{
        margin-top: 50px;
        line-height: 40px;
    }
}






